
*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 10px;
}


body {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 20% 70%;
}

/*form bar section*/

.aside {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #A4745B;
}

.aside__figure {
  height: 167px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #15141470;
}

.aside__img {
  width: 45%;
  margin: 2rem 6rem 1rem;
}

.aside__figcaption {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.4rem;

}

.aside__figcaption__span {
  margin-left: 2px;
}

.aside__main-link-contanier,
.aside__admin-link-contanier {
  height: 280px;
  border-bottom: 1px solid #15141470;
}

.aside__h3 {
  margin: 3rem 0 3rem 1rem;
  font-size: 2rem;
}

.aside__link {
  display: block;
  height: 3rem;
  margin: 1rem;
  padding-top: 0.7rem;
  font-size: 1.5rem;
}

.aside__link--active{
  height: 3.5rem;
  background-color: #8c614b;
}

.aside__link:hover {
  background-color: #8c614b;
}

.aside__link__span {
  margin-right: 5px;
}

.checkbx-1,
.checkbx-2,
.checkbx-3 {
  position: relative;
  margin: -2rem 0 0rem 2rem;
}

.checkbx__label {
  display: inline-block;
  position: absolute;
  top: 2.1rem;
  left: -5px;
  width: 1.5rem;
  height: 1.5rem;
  border:1px solid #15141470; 
  cursor: pointer;
}

.checkbx__label--1 {
  background-color: #d69966;
}

.checkbx__label--2 {
  background-color: #90320c;
}

.checkbx__label--3 {
  background-color: #90810c;
}
.checkbx__label:after {
  position: absolute;
  top: 5px;
  left: 3px;
  width: 9px;
  height: 5px;
  border: 3px solid #15141470;
  border-top: none;
  border-right: none;
  background: transparent;
  content: '';
  opacity: 0.2;
  transform: rotate(-45deg);
}

.checkbx__label:hover::after {
  opacity: 0.7;
}

.form__checkbx-input {
  display: inline-block;
  opacity: 0;
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.checkbx__h4 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: normal;
}

/*main-header section*/

.header {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  background-color: #554842;
}

.header__form-search-bar {
  height: 61px;
  border-bottom: 1px solid #000;
}

.header__form__btn {
  height: 60px;
  width: 6%;
  margin: 0;
  border: none; 
  background-color: #554842;
  font-size: 3rem;
}

.header__form__btn:hover {
  background-color: #8a746c;
}

.header__form__btn--active {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  background-color: #032786d6; 
  color: #fff;
}

.header__form__btn-mid {
  border-right: 1px solid #000;
}

.header__form__btn--hamburger {
  border-right: 1px solid #000;
}

.header__form__btn--blue-arrow {
  margin: 2px;  
  color: #032786d6;
  font-size: 2rem;
}

.header__input {
  width: 74%;
  margin: 6px;
  padding-left: 40px;
  border: none;
  background-color:#554842;
  background-image: url('photos/Magnifying_glass_icon.png');
  background-size: 2.3rem;
  background-repeat: no-repeat;
  color: #000;
  font-size: 2rem;
}

::placeholder {
  color: #000;
}

.header__h1 {
  margin: 4rem 0 0 3rem;
  font-size: 3rem;
}

.header__p{
  margin: 1rem 0 3rem 3rem;
  font-size: 1.8rem;

}

.header__p__span {
  margin-right: 3px;
}

.header__p__span--active {
  color: #032786d6;
}

.header__p__span--active:hover {
  margin-top: 2px;
  border-bottom:2px solid #032786d6; 
  background-color:  #8a746c;
}

.header__button-container {
  position: absolute;
  right: 2.5rem;
  top: 10.2rem;
  font-size: 1.5rem;
}

.header__btns {
  height: 3rem;
  width: 3rem;
  border: 1px solid #000;
  border-radius: 100%;
  background-color: #554842;
}

.header__btn--open {
  width: 7rem;
  border-radius: 15px;
}

.header__btn--active {
  padding: 2px;
  font-size: 1.3rem;
  color: #032786d6;
}

.header__btns:hover {
  background-color:  #8a746c;
}

.header__nav-index-page {
  margin: 1rem 3rem 1rem;
  font-size: 1.8rem;
}

.header__index-page__a {
  margin-right: 3rem;
}

.header__index-page__a:hover {
  padding-bottom: 7px;
  margin-right: 3rem;
  border-bottom: 3px solid #032786d6;
}

.header__index-page__a--active {
  padding-bottom: 7px;
  margin-right: 3rem;
  border-bottom: 3px solid #032786d6;
}

/*main content*/


.main {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #857262;
}

/*graphs section*/

.section-graphs {
  display: flex;
  position: relative;
  height: 355px;
  align-content: center;
  background-color: #BFA791;
}

.article__circle-container {
  margin: 0;
  width: 50%;
}

.article__circle-graph {
  display: inline-block;
  position: relative;
  top: 6.5rem;
  left: 3rem;
  height: 180px;
  width: 180px;
  margin: 0.5rem;
  border: 1rem solid;
  border-radius: 100%;
  background-color: #E3F2F7;
}


.article__circle-1 {
  border-color: #B4B7BD #B4B7BD #B4B7BD #0734AB;  
}

.article__circle-2 {
  border-color: #FF6347 #B4B7BD #B4B7BD #B4B7BD;
}

.article__circle-3 {
  border-color:  #B4B7BD #FFA500 #FFA500 #FFA500; 
}

.article__circle__h2 {
  position: absolute;
  top: 2rem;
  left: 4rem;
  font-size: 3rem;
}

.article__circle__p {
  position: absolute;
  top: 7rem;
  right: 3.5rem;
  font-size: 2rem;
}

.section-graphs__figure{
  display: inline-block;
  width: 50%;
  margin: auto;
  text-align: center;
}

.section-graphs__figure__img {
  height: 250px;
  width: 550px;
  margin: 1rem;

}

.section-graph__btns {
  display: inline-block;
  height: 3rem;
  width: 30%;
  background-color: #A4745B;
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 1.3rem;
}

.section-graph__btns:hover {
  background-color:  #8a746c; 
}

.section-graph__circle-btn {
  position: relative;
  top: 33%;
  left: 32%;
}

.section-graph__bar-chart-btn {
  position: relative;
  top: 1rem;
  left: 5%;
}

.section-graph__line-break-contianer {
  position: absolute;
  bottom: -1.7rem;
  left: 3rem;
  width: 100%;
  vertical-align: bottom;
}

.section-graph__hr {
  display: inline-block;
  width: 45%;
  border-top: none;
  border-bottom: 1.4px solid #000;
}

.section-graphs__link-break__btn {
  height: 3rem;
  width: 3rem;
  margin: 0 2px;
  padding-top: 0.5rem;
  border: 1px solid #000;
  border-radius: 100%;
  background-color: #554842;
  font-size: 1.5rem;
  vertical-align: middle;

}

/*content*/

.content {
  display: flex;
  flex-direction: row;
}

.article-resume {
  width: 70%;
}

.article-resume__container {
  width: 90%;
  margin: 3rem;
}

.article-resume__header{
  background-color: #554842;

}

.article-resume__h3 {
  display: inline-block;
  margin: 1.5rem;
  font-size: 2rem;
}

.article-resume__btn {
  display: inline-block;
  height: 2.5rem;
  width: 7rem;
  margin-left: 1rem;
  border: none;
  background-color: #463933e6;
  font-size: 1.5rem;
}

.article-resume__btn:hover {
   background-color:  #8a746c;

}

.article-resume__btn--span {
  margin-right: 1rem;
}

.article-resume__section {
  height: 600px;
  margin: 0;
  background-color: #BFA791;
  font-size: 1.5rem;
}

.dl {
  margin: 0;
}

hr {
  height: 2px;
  width: 90%;
  border-bottom: #000;
  border-right: #000;
  border-left: #000;

}

.dl__dt,
.dl__dd {
  display: inline-block;
}

.dl__dt {  
  height: 2.5rem;
  width: 25%;
  margin-left: 3.3rem;
  margin-top: 2rem;
  font-weight: 700;
}

.dl__dd {
  width: 60%;
  margin: 0;
  vertical-align: baseline;
}

.dl__dt--description {
  vertical-align: top;
}

.dl__dd--description {
  margin-top: 2rem;
}

.dl__dd__img,
.aside__img {
  border-radius: 100%;
}

.dl__dd__img {
  width: 5rem;
  margin-right: 5px;
  vertical-align: middle;
}

/*footer*/

.footer {
  width: 40%;
}

.footer-container {
  width: 80%;
  margin: 3rem;
}

.footer__btn-social-media {
  display: block;
  position: relative;
  height: 4rem;
  width: 100%;
  margin-bottom: 1.5rem;
  border: none; 
  background-color: #032786d6;
  color: #fff;
  font-size: 2rem;
}

.footer__btn-social-media:hover {
   background-color:  #0d4aea7a; 
}

.footer__btn-social-media--span {
  position: absolute;
  left: 2rem;
  margin-right: 6rem;
  vertical-align: middle;
}

.footer__form {
  width: 100%;
  margin:5rem 0;
  border-bottom: 1px solid #000;

}

.footer__form__h3 {
  font-size: 2rem;
}

.footer__form__h3--span {
  margin-right: 2rem;
}

.footer__form__p {
  margin-bottom: 3rem; 
  font-size: 1.5rem;
}

.footer__form__link {
  position: relative;
  height: 3.5rem;
  width: 100%;
  padding: 7px 0 5px 20px; 
  border: 1px solid #000;
  font-size: 1.5rem;

}

.footer__form__link--span {
  position: absolute;
  top: 0;
  right: 0;
}

.footer__form__btn {
  height: 3.3rem;
  width: 8rem;
  border: none;
  background-color: #92c1dc;
  vertical-align: middle;
}

.footer__form__btn:hover {
  background-color:#0d4aea7a;
}

@media screen and (max-width: 1400px) {
  .header__form-search-bar {
    height: 5.1rem;
  }

  .header__form__btn {
    height: 4.9rem;
    width: 5%;
    font-size: 1.7rem;  
  }

  .header__form__btn--hamburger {
    width: 7%;
  }

  .header__form__btn--blue-arrow {
    margin: 0;
    font-size: 1.4rem;
  }

  .header__input {
    width: 75%;
    background-size: 1.7rem;
  }

  .header__input::placeholder {
    font-size: 1.7rem;
  }

  .section-graphs__figure__img {
    width: 475px;
  }

  .article__circle-graph {
    position: relative;
    top: 6.5rem;
    left: 2rem;
    height: 150px;
    width: 150px;
  }

  .article__circle__h2 {
    position: absolute;
    top: 1rem;
    left: 4rem;
    font-size: 2.5rem;
  }

  .article__circle__p {
    position: absolute;
    top: 6rem;
    right: 3rem;
    font-size: 1.7rem;
  }

  .section-graph__circle-btn {
    position: relative;
    top: 41.5%;
    left: 29%;
    width: 35%;
  }
}

@media screen and (max-width: 1175px) {
  .aside__img {
    margin: 2rem 4rem 1rem;
  }
  
  .checkbx__label {
    position: absolute;
    top: 1.7rem;
    left: -5px;
  }

  .checkbx__h4 {
    font-size: 1.3rem;
  }

  .article__circle-graph {
    position: relative;
    top: 8.5rem;
    left: 2rem;
    height: 135px;
    width: 135px;
  }

  .section-graphs__figure__img {
    width: 380px;
  }
 
  .article__circle__h2 {
    position: absolute;
    top: 1rem;
    left: 2.5rem;
  }

  .article__circle__p {
    position: absolute;
    top: 5rem;
    right: 2rem;
  }

  .section-graph__circle-btn {
    position: relative;
    top: 45.5%;
  }

  .article-resume__section {
    height: 650px;
  }


}

@media screen and (max-width: 1050px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 80%;
  }

  .aside {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  } 

  .header__form__btn--hamburger {
    display: none;
  }

  .header__form__btn {
    width: 7%;
  }

  .header__button-container {
    position: absolute;
    right: 2.5rem;
    top: 13.3rem;
  }


  .main {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .section-graphs {
    display: flex;
    flex-direction: row-reverse;
    height: 475px
  }

  .section-graphs__figure {
    width: 60%;
  }

  .section-graphs__figure__img {
    width: 550px;
  }

  .article__circle-container {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .article__circle-graph {
    display: block;
    position: relative;
    top: 1rem;
    left: 8rem;
    height: 125px;
    width: 125px;
  }

  .section-graph__circle-btn {
    position: relative;
    top: 2.5rem;
    left: 21%;
    width: 63%;
  }

  .section-graph__bar-chart-btn {
    position: relative;
    top: 7.2rem;

  }

  .article__circle__h2 {
    position: absolute;
    top: 0.7rem;
    left: 2.3rem;
  }

  .article__circle__p {
    position: absolute;
    top: 4.3rem;
    right: 1.5rem;
  } 

  .aside-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }
  
  .aside__figure,
  .aside__main-link-contanier,
  .aside__admin-link-contanier,
  .aside__form {
    display: inline-block;
    height: 280px;
    width: 25%;
    margin: 0;
    border: 1px solid #000;
    font-size: 1.5rem;

  }

  .aside__img {
    width: 65%;
    margin: 2rem 4rem 1rem;
  }

  .aside__figcaption {
    font-size: 2rem;
  }

  .article-resume__section {
    height: 645px;
  }
   
  
}

@media screen and (max-width: 810px) {
  .header__nav-index-page {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  .header__index-page__a {
    padding-bottom: 10px;
  }

  .header__input {
    width: 72%;
  }

  .section-graphs__figure__img {
    position: relative;
    right: 3rem;
    width: 390px;
  }

  .section-graph__bar-chart-btn {
    position: relative;
    left: -2rem;
  }

  .article__circle-graph {
    position: relative;
    left: 2rem;
  }

  .aside__img {
    margin: 2rem 3rem 1rem;
  }

  .aside__figcaption {
    font-size: 1.7rem;
  }

  .checkbx__label {
    position: absolute;
    top: 2rem;
    left: -5px;
  }

  .checkbx__h4 {
    width: 50%;
    font-size: 1.5rem;
  }

  .article-resume__container {
    width: 100%;
    margin: 3rem 1rem 0 1rem;
  }

  .article-resume__section {
    height: 700px;
  }

  .footer__btn-social-media {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .article-resume__section {
    height: 960px;
  }

  .dl__dt {
    margin: 3rem 1rem 2rem 2rem;

  }

  .dl__dd {
    margin-top: 4rem;
    vertical-align: baseline;

  }

  .footer__form__link {
    font-size: 1.3rem;
  }
  
  .section-graph__line-break-contianer {
    position: absolute;
    left: 5px;
  }
}

@media screen and (max-width: 600px) {
  .aside {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .aside__figure {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110Px;
    width: 40%; 
  }

  .aside__main-link-contanier,
  .aside__admin-link-contanier {
    width: 30%;
  }

  .aside__form {
    width: 40%;
    font-size: 
  }

  .aside__img {
    width: 31%;
    margin: 1rem 6rem 1rem;
    vertical-align: middle;
  }

  .checkbx__label {
    position: absolute;
    top: 1.5rem;
    left: -6px;
  }

  .checkbx__h4 {
    width: 65%;
    font-size: 1.3rem;
  }
 


  .main {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .section-graphs {
    display: flex;
    flex-direction: column;
    height: 550px;
  }

  .article__circle-container {
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
  }

  .article__circle-graph {
    position: relative;
    top: 10%;
    left: 12%;
    height: 60%;
    width: 100%;
  }

  .section-graph__circle-btn {
    position: relative;
    top: 17.5rem;
    left: -37%;
    width: 90%;
  }
  
  .section-graphs__figure {
    width: 100%;
  }

  .section-graphs__figure__img {
    position: relative;
    top: 0;
    right: 2rem;
    width: 90%;
  }

  .section-graph__bar-chart-btn {
    position: relative;
    top: 0;
    left: -1rem;
  }

  .article__circle__h2 {
    position: absolute;
    top: 3%;
    left: 25%;
  }

  .article__circle__p {
    position: absolute;
    top: 40%;
    right: 18%;
  } 


  .content {
    display: flex;
    flex-direction: column;
  }

  .article-resume {
    width: 90%;
    margin: auto; 
  }

  .footer {
    width: 100%;
    margin: 2rem 3rem;
  }

}

@media screen and (max-width: 550px){
  .article__circle-graph {
    height: 53%;
    width: 80%;
  }

  .article__circle__h2 {
    font-size: 2rem;
  }

  .article__circle__p {
    position: absolute;
    top: 37%;
    right: 14%;
    font-size: 1.5rem;
  }

  .section-graph__circle-btn {
    position: relative;
    top: 17.5rem;
  }
}


@media screen and (max-width: 450px) {
  .header__form-search-bar {
    height: 4.1rem;
    font-size: 0.8rem;
  }

  .header__form__btn {
    height: 3.5rem;
    font-size: 1.1rem;
  }

  .header__input {
    width: 68.9%;
    padding-left: 18px;
    font-size: 1.8rem;
  }

  .header__h1 {
    margin: 2rem 0 0 3rem;
    font-size: 2rem;
  }

  .header__p {
    font-size: 1.3rem;
  }

  
  .header__button-container {
    position: absolute;
    right: 19.5rem;
    top: 11.3rem;
  }

  .header__nav-index-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.7rem;
  }

  .article__circle-graph {
    height: 45%;
    width: 80%;
  }

  .article__circle__h2 {
    font-size: 1.5rem;
  }

  .article__circle__p {
    position: absolute;
    top: 29%;
    right: 8%;
    font-size: 1.3rem;
  }

  .section-graph__circle-btn {
    position: relative;
    top: 15.5rem;
  }

  .section-graph__line-break-contianer {
    position: absolute;
    left: 1px;
  }
}

@media screen and (max-width: 400px) {
  .header__input {
    height: 77%;
    width: 57.9%;
    padding-left: 18px;
    font-size: 0.5rem;
  }

  .header__form__btn {
    width: 12%;
  }

  .header__h1 {
    margin: 2rem 0  0 2rem;
    font-size: 1.5rem;
  }

  .header__button-container {
    position: absolute;
    right: -2.5rem;
    top: 10.3rem;
    width: 100%;
  }

  .header__p {
    margin: .5rem 0 3rem 2rem;
  }

  .header__nav-index-page {
    justify-content: space-between;
    margin: 2rem 2rem 1rem;
  }

  .section-graphs {
    width: 100vw;
  }

  .article__circle-graph {
    position: relative;
    left: 16%;
    height: 33.33%;
    width: 30%;
  }

  .article__circle__h2 {
    position: relative;
    top: 100%;
    left: 10%;
  }

  .article__circle__p {
    position: relative;
    top: 78%;
    right: 8%;
  }

  .section-graph__circle-btn {
    position: relative;
    top: 16.5rem;
    left: -34%;
    height: 4.5rem;
  }

  .section-graphs__figure__img {
    position: relative;
    top: 0;
    right: 0rem;
  }

  .article-resume__container {
    margin: 3rem 0 0 0;
  }

  .article-resume__section {
    height: 985px;
  }

  .dl__dt {
    width: 29%;
    margin: 3rem 1rem 2rem 1rem;
  }

  .footer {
    margin: 0;
  }

  .aside__h3 {
    font-size: 1.6rem;
  }

  .aside__link {
    font-size: 1.2rem;
  }

  .aside__img {
    margin: 1rem 4rem 1rem;
  }

  .section-graph__line-break-contianer {
    position: absolute;
    bottom: -1.4rem;
    left: 2.5rem;
    width: 90%;
  }

  .section-graph__hr{
    width: 40%;
  }

  .section-graphs__link-break__btn {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 330px) {
  .article__circle-graph {
    position: relative;
    left: 4%;
  }

  .section-graph__circle-btn {
    position: relative;
    left: -52%;
}


